/* CSS of <div id="backToLoginPage">*/
#backToLoginPage {
    /* position:absolute */
    position: absolute;
    top: 5%;
    left: 5%;
}

#backToLoginPage i {
    font-size: 35px;
    color: #ef547c;
}

#backToLoginPage i:hover{
    opacity: 0.8;
    cursor: pointer;
}

#backToLoginPage i:active{
    opacity: 0.4;
    cursor: pointer;
}



/* CSS of <div id="logo" class="logo__findPassword"> */
.logo__findPassword img {
    width: 15%;
    height: 15%;
}

.logo__findPassword {
    margin-bottom: 15%;
}

/* CSS of submit Button */
.SubmitButton__findPassword {
    margin-top: 17.3%;
}

.SubmitButton__findPassword input {
    padding-left: 20%;
    padding-right: 20%;
}



/* CSS of  <div id="TelluserPassword"> */
.TelluserPassword {
    display: flex;
    justify-content: center;

    margin-top: 15%;
}

.TelluserPassword span {
    /* position of span */
    display: flex;
    justify-content: center;

    /* design of span */
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.TelluserPassword span:first-child {
    margin-bottom: 40%;
}

.TelluserPassword span:last-child {
    margin-bottom: 40%;
}

.SubmitButton__TelluserPassword input{
    padding-left: 20%;
    padding-right: 20%;
}
